[submodule "extras/arduino-core-api"]
	path = extras/arduino-core-api
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "extras/unity"]
	path = extras/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "extras/mtb-integration"]
	path = extras/mtb-integration
	url = https://github.com/Infineon/mtb-arduino-core-psoc-integration.git
