[submodule "extras/arduino-core-api"]
	path = extras/arduino-core-api
	url = https://github.com/arduino/ArduinoCore-API.git
[submodule "extras/mtb-integration"]
	path = extras/mtb-integration
	url = https://github.com/Infineon/mtb-arduino-core-psoc-integration.git
[submodule "extras/mtb-libs/cat1cm0p"]
	path = extras/mtb-libs/cat1cm0p
	url = https://github.com/Infineon/cat1cm0p
[submodule "extras/mtb-libs/cmsis"]
	path = extras/mtb-libs/cmsis
	url = https://github.com/Infineon/cmsis
[submodule "extras/mtb-libs/core-lib"]
	path = extras/mtb-libs/core-lib
	url = https://github.com/Infineon/core-lib
[submodule "extras/mtb-libs/mtb-hal-cat1"]
	path = extras/mtb-libs/mtb-hal-cat1
	url = https://github.com/Infineon/mtb-hal-cat1
[submodule "extras/mtb-libs/mtb-pdl-cat1"]
	path = extras/mtb-libs/mtb-pdl-cat1
	url = https://github.com/Infineon/mtb-pdl-cat1
[submodule "extras/mtb-libs/retarget-io"]
	path = extras/mtb-libs/retarget-io
	url = https://github.com/Infineon/retarget-io.git
[submodule "tests/arduino-core-tests"]
	path = tests/arduino-core-tests
	url = https://github.com/Infineon/arduino-core-tests.git
