options:
  USE_CORE:
    name: local
    url: http://blabla
  # INCLUDE:
  #   - filename

compile:
    compile-psoc6-cy8ckit_062s2_ai:
      description: Compiling test_digitalio_single.cpp for PSOC6 platform
      command: make -f Makefile.arduino.mk test_digitalio_single compile
      fqbns: [infineon:psoc6:cy8ckit_062s2_ai]
      working_dir: tests/arduino-core-tests

code-quality:
    source-code-quality-clang-tidy:
      description: clang-tidy check sources
      tool: clang-tidy
      command: extras/makers-devops/tools/code_checks/run_clang_tidy.sh ./cores/psoc6/* ./libraries/*

    source-code-quality-cppcheck:
      description: cppcheck check sources
      tool: cppcheck
      command: extras/makers-devops/tools/code_checks/run_cppcheck.sh ./cores/psoc6/* ./libraries/*  
               | -I extras/arduino-core-api/api/ -I variants/CY8CKIT-062S2-AI/mtb-bsp -I extras/mtb-libs/core-lib/include 
               | -I libraries/WiFi/src -I libraries/Wire/src -I libraries/SPI/src -I extras/mtb-libs/mtb-hal-cat1/include
               | -I extras/mtb-libs/wifi-connection-manager/include --suppress=*:extras/mtb-libs/wifi-connection-manager/include*
               | -I variants/CY8CKIT-062S2-AI -I cores/psoc6 --suppress=*:variants/CY8CKIT-062S2-AI/* --suppress=*:extras/mtb-libs/mtb-hal-cat1/include/*
               | --suppress=*:extras/arduino-core-api/api/* --suppress=*:cores/psoc6/api/* --suppress=*:variants/CY8CKIT-062S2-AI/mtb-bsp/* --suppress=*:extras/mtb-libs/core-lib/include/*
    
    test-code-quality-clang-tidy:
      description: clang-tidy check tests
      tool: clang-tidy
      command: extras/makers-devops/tools/code_checks/run_clang_tidy.sh ./tests/arduino-core-tests/src/*

    test-code-quality-cppcheck:
      description: cppcheck check tests
      tool: cppcheck
      command: extras/makers-devops/tools/code_checks/run_cppcheck.sh ./tests/arduino-core-tests/src/*  
               | -I extras/arduino-core-api/api/ -I variants/CY8CKIT-062S2-AI/mtb-bsp -I extras/mtb-libs/core-lib/include 
               | -I libraries/WiFi/src -I libraries/Wire/src -I libraries/SPI/src -I extras/mtb-libs/mtb-hal-cat1/include
               | -I extras/mtb-libs/wifi-connection-manager/include --suppress=*:extras/mtb-libs/wifi-connection-manager/include*
               | -I tests/arduino-core-tests/Unity/src --suppress=*:tests/arduino-core-tests/Unity/src/*
               | -I variants/CY8CKIT-062S2-AI -I cores/psoc6 --suppress=*:variants/CY8CKIT-062S2-AI/* --suppress=*:extras/mtb-libs/mtb-hal-cat1/include/*
               | --suppress=*:extras/arduino-core-api/api/* --suppress=*:cores/psoc6/api/* --suppress=*:variants/CY8CKIT-062S2-AI/mtb-bsp/* --suppress=*:extras/mtb-libs/core-lib/include/*

    code-quality-clang-format:
      description: clang-tidy check sources
      tool: clang-format
      command: extras/makers-devops/tools/code_checks/run_clang_format.sh ./cores/psoc6/* ./libraries/*

    code-quality-black-format:
      description: clang-tidy check sources
      tool: black-format
      command: extras/makers-devops/tools/code_checks/run_black.sh ./extras/makers-devops/tools/* 


unit-test:
    unit-test-digital-io:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single UNITY_PATH=/opt/Unity 
        query: digital_io_single_board == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local
  
    unit-test-iic-pingpong-1400:
      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong UNITY_PATH=/opt/Unity 
        query: iic_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
           name: local

      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong UNITY_PATH=/opt/Unity 
        query: iic_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local

    unit-test-spi-pingpong-1400:
      - description: Compiling, flashing and monitoring SPI pingpong slave unit test.
        command: make test_spi_connected2_slavepingpong UNITY_PATH=/opt/Unity 
        query: spi_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
           name: local

      - description: Compiling, flashing and monitoring SPI pingpong master unit test.
        command: make test_spi_connected2_masterpingpong UNITY_PATH=/opt/Unity 
        query: spi_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local

unit-test:
    unit-test-digital-io:
      - description: Compiling, flashing and monitoring digital IO unit test.
        command: make test_digitalio_single UNITY_PATH=/opt/Unity 
        query: digital_io_single_board == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local
  
    unit-test-iic-pingpong-1400:
      - description: Compiling, flashing and monitoring I2C pingpong master unit test.
        command: make test_wire_connected2_masterpingpong UNITY_PATH=/opt/Unity 
        query: iic_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
           name: local

      - description: Compiling, flashing and monitoring I2C pingpong slave unit test.
        command: make test_wire_connected2_slavepingpong UNITY_PATH=/opt/Unity 
        query: iic_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local

    unit-test-spi-pingpong-1400:
      - description: Compiling, flashing and monitoring SPI pingpong slave unit test.
        command: make test_spi_connected2_slavepingpong UNITY_PATH=/opt/Unity 
        query: spi_ping_pong_multiple_boards_slave == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
           name: local

      - description: Compiling, flashing and monitoring SPI pingpong master unit test.
        command: make test_spi_connected2_masterpingpong UNITY_PATH=/opt/Unity 
        query: spi_ping_pong_multiple_boards_master == '1:1'
        working_dir: extras/arduino-core-tests
        options:
          PARSE_START_TOKEN: Unity test run
          PARSE_END_TOKEN: "^OK|^FAIL"
          SEND_JOB_START_TOKEN: true
          USE_CORE:
            name: local

      
